<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body ng-app="aplicacao">
    <div ng-controller="PrimeiroController">
        <h1>Olá, {{ nome }} </h1>
    </div>
    <div ng-controller="SegundoController">
        <h2>Horário: {{ hora }}</h2>
    </div>
    <div ng-controller="TerceiroController">
        <h2 ng-show="show"> Show </h2>
    </div>
    <div ng-controller="QuartoController">
        <h2 ng-hide="hide"> Hide </h2>
    </div>
    <div ng-controller="QuintoController">
        <h1 ng-if="if"> IF </h1>
    </div>
    <div ng-controller="SextoController">
        <button class="btn btn-danger" ng-click="clicar()"> Clica ai</button>
    </div>
    <ul ng-controller="SetimoController">
        <li ng-repeat="aluno in alunos">
            {{ aluno }}
        </li>
    </ul>
    <div ng-controller="OitavoController">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-success" ng-class="{'btn btn-danger': !iniciado}" ng-click="mudar()">Meu
                    botão</button>
            </div>
        </div>
    </div>
    <div ng-controller="NonoController">
        <form>
            <!-- First Name:<br>
            <input type="text" ng-model="user.firstName"><br>
            Last Name:<br>
            <input type="text" ng-model="user.lastName">
            <br><br> -->
            <button ng-click="postObj()">Submeter</button>
        </form>
    </div>
    <div ng-controller="DecimoController" class="container">
        <div class="row">
            <div class="offset-md-3"></div>
            <div class="col-md-6">
                <form name="form_login">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Endereço de email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Seu email" name="email" ng-model="email" ng-readyonly="!iniciado"
                            ng-class="{'is-invalid': valido}">
                        <!-- <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com
                            ninguém.</small>
                        <small id="emailHelp" class="form-text text-muted">{ mensagem }</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Clique em mim</label>
                    </div> -->
                        <button type="submit" class="btn btn-primary" ng-click="submeterLogin()" ng-disabled="!iniciado"
                            ng-minlength="9">Enviar</button>
                </form>
            </div>
            <div class="offset-md-3"></div>
        </div>
        <li ng-repeat="usuario in usuarios track by $index" class="text-dark">
            {{ usuario }}
        </li>
    </div>
    <div ng-controller="DecimoPrimeiroController">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tipo Despesa</th>
                    <th scope="col">Id</th>
                    <th scope="col">Código SAP. Funcionário</th>
                    <th scope="col">Nome Funcionário</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Centro Custo/Peo/oi</th>
                    <th scope="col">Conta Contábil</th>
                    <th scope="col">Valor (BRL) IT</th>
                    <th scope="col">Texto (Número do Cartão)</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="exp in exps">
                    <td>{{ ConvertPessoal(exp.pessoal) }}</td>
                    <td>{{ exp.id }}</td>
                    <td>{{ exp.cod_sap }}</td>
                    <td>{{ exp.name }}</td>
                    <td>{{ exp.company }}</td>
                    <td>{{ exp.location }}</td>
                    <td>{{ exp.cc }}</td>
                    <td>{{ exp.ccontabil }}</td>
                    <td>{{ exp.valor }}</td>
                    <td>{{ exp.num_card }}</td>
                    <td>{{ ConvertStatus(exp.status) }}</td>
                </tr>
        </table>
    </div>
    <div ng-controller="DecimoSegundoController">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Age</th>
            </tr>
            <tr ng-repeat="friend in friends | orderBy:'-age'">
                <td>{{friend.name}}</td>
                <td>{{friend.phone}}</td>
                <td>{{friend.age}}</td>
            </tr>
        </table>
    </div>
    <div ng-controller="DecimoTerceiroController">
        <table class="table">
            <div ng-repeat="data in newarray | orderBy : 'newdate'">
                <div>{{ data.newdate | date : format :'dd/MM/yyyy' }}</div>
            </div>
        </table>
    </div>
    <div ng-controller="DecimoQuartoController">
        <!-- FOR '-joinDate' THE PREDICATE IS SET USING '-' (HYPHEN) KEY FOR DESCENDING ORDER. -->
        <div ng-repeat="emps in empArray | orderBy : '-joinDate'">
            <div> {{ emps.joinDate | date : 'dd/MM/yyyy' }} : {{ emps.values.name }} </div>
        </div>
    </div>
    <div ng-controller="DecimoQuintoController">
        <h1>Preço: {{ valor | currency: 'R$' }}</h1>
        <input ng-model="valor">
    </div>
    <div ng-controller="DecimoSextoController">
        <h1>Data: {{ dataHoje | date: 'dd/MM/yyyy' }}</h1>
        <input ng-model="data">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="primeiro-controller.js"></script>
    <script src="segundo-controller.js"></script>
    <script src="terceiro-controller.js"></script>
    <script src="quarto-controller.js"></script>
    <script src="quinto-controller.js"></script>
    <script src="sexto-controller.js"></script>
    <script src="setimo-controller.js"></script>
    <script src="oitavo-controller.js"></script>
    <script src="nono-controller.js"></script>
    <script src="decimo-controller.js"></script>
    <script src="decimoprimeiro-controller.js"></script>
    <script src="decimosegundo-controller.js"></script>
    <script src="decimoterceiro-controller.js"></script>
    <script src="decimoquarto-controller.js"></script>
    <script src="decimoquinto-controller.js"></script>
    <script src="decimosexto-controller.js"></script>
</body>

</html>